// ################
// ---------- ADMIN
// ################


//        GLOBAL
// -------------

th, tr, td, table {
  text-align: center;
  vertical-align: middle;
}

tr {
  height: 40px;
}

$bright: #ffd912;
.pad20 {
  padding: 20px;
}

div.table > a, td > a {
  display: inline-block;
  padding: 10px;
  margin: 2px;
  color: white;
}

div.half-width{
  max-width: 50vw;
  margin: 0px;
}
div.image-upload{
  display: flex;
}



div.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  height: 320px;
  max-width: 500px;
  border: 2px solid silver;
  border-radius: 5px;
}

//        DASH
// -----------

#clock {
  z-index: 10;
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  font-size: 80px;
  padding: 0px;
  margin: 0px;
  line-height: 95%;
  text-shadow: 1px 2px 3px black;
}

#admin-title {
  z-index: 10;
  font-family: 'Exo', sans-serif;
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-shadow: 1px 2px 3px black;
}
#admin-greeting {
  text-shadow: 1px 2px 3px black;
  font-weight: 400;
}
div.admin-dash {
  height: fit-content;
  background-size: contain;
  z-index: 10;
  margin-top: 20px;
  width: 100vw;
}

.admin-top {
  // border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 90px;
  padding-left: 128px;
  margin-bottom: 20px;
}

div.admin-fade {
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 50%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

div#admin-wrap {
  h1 {
    text-shadow: 1px 2px 3px black;
  }
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  overflow: hidden;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.iframecontainer { //top lvl
  // border: 1px solid red;
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 80vh;
  z-index: 20;
}

div.iframewrap { //wrapper
  // border: 1px solid blue;
  background-color: rgba(245, 245, 245, 0.8);
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin-left: 128px;
  margin-right: 5%;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#editarea { //iframe elem
  // border: 1px solid green;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  overflow: scroll;
  width: inherit;
  position: relative;
  color: black;
}

div.edittop { //header info
  // border: 1px solid yellow;
  position: absolute;
  z-index: 20;
  top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: whitesmoke;
  width: 100%;
  height: 128px;
  color: black;
  padding: 20px;
  h1{
    padding: 0px;
    margin: 0px;
    text-shadow: none !important;
  }
}

div.editmain { //form info
  // border: 1px solid orange;
  position: relative;
  max-height: 100%;
  overflow: scroll;
  color: black;
}

div.two-up{
  margin-top: 125px;
  // border: 1px solid green;
  display: flex;
  max-width: 95vw;
  justify-content: space-evenly;
  padding: 20px;
}
div.col-left{
  margin-left: 4%;
  display: flex;
  max-width: 40vw;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}
div.col-right{
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  margin-bottom: 50px;
}

footer#admin-footer {
  a {
    color: white;
    text-decoration: underline;
  }
  z-index: 10;
  font-weight: lighter;
  font-size: 12px;
  text-align: right;
  bottom: 0;
  right: 20px;
  height: 30px;
  color: white;
  border: none;
  background-color: rgba(0,0,0,0);
}
div.admin-nav {
  position: fixed;
  padding-top: 16px;
  z-index: 11;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 74px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  ul {
    a:hover {
        text-decoration: none;
      }
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    :nth-of-type(4) {
      margin-top: auto;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      width: 60px;
      height: 50px;
      border-right: 4px solid rgba(0,0,0,0);
      border-radius: 3px;
      i {
        cursor: pointer;
        filter: invert(1);
      }
    }
  }
}


table {
  ::-webkit-scrollbar{display: none;};
  display: block;
  width: 100%;
  max-height: 396px;
  overflow: scroll;
}

.table {
  display: none;
  padding-left: 128px;
  width: 100%;
  margin-bottom: 24px;
  // visibility: hidden;
}

.module-wrapper {
  width: 95%;
  // border: 1px solid yellow;
  margin-bottom: 20px;
  height: 100%;
  overflow: scroll;
  ::-webkit-scrollbar {
    display: none;
  }
}

.dash-check {
  height: 25px;
  width: 25px;
}

thead {
  background-color: rgba(0,0,0,0.5);
}
tbody{
  background-color: rgba(0, 0, 0, 0.4);
  a {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
  }
}


th {
  width: 300px;
}

th#msg {
  width: 60vw;
  overflow: scroll;
}

td#msg {
  align-items: middle;
  display: block;
  max-block-size: 44px;
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}
th:nth-child(1){
  width: 44px;
}
td {
  text-align: center;
}

img.profile-icon {
  max-width: 40px;
  max-height: 40px;
  border-radius: 2px;
}

div.msg-body {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 12px;
  border-radius: 2px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 24px;
}


//         EDIT FORM
// -----------------

a#admin-new-client {
  margin-bottom: 20px;
}

img.admin-story-edit {
  max-width: 300px;
  max-height: 300px;
  border: 2px solid $bright;
  border-radius: 2px;
  margin: 2px;
}
button#upload {
  display:inline-block;
  min-width: 50px;
  width: 80px;
  padding:5px 10px;
}
input#upload {
  display: inline-block;
  max-width: 300px;
}
label {
  display: block;
  width: 90px;
}
textarea {
  resize: none;
  width: 300px;
  height: 180px;
  overflow: scroll;
}
.input-area {
  width: 380px;
  margin: 10px;
  padding: 10px;
  border: 0.5px white solid;
  border-radius: 4px;
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}