// ################
// ---------- ADMIN
// ################

//        GLOBAL
// -------------

th, tr, td, table {
  text-align: center;
  vertical-align: middle;
}

tr {
  height: 40px;
}

$bright: #ffd912;
.pad20 {
  padding: 20px;
}

div > a, td > a {
  display: inline-block;
  background-color: white;
  padding: 10px;
  border: 2px solid ;
  border-radius: 4px;
  margin: 2px;
}

div.half-width{
  max-width: 50vw;
  margin: 0px;
}
div.image-upload{
  display: flex;
}

div.two-up{
  display: flex;
  max-width: 95vw;
  justify-content: space-evenly;
  margin: auto;
}
div.col-left{
  margin-left: 4%;
  display: flex;
  max-width: 40vw;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}
div.col-right{
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  margin-bottom: 50px;
}

div.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  height: 320px;
  max-width: 500px;
  border: 2px solid silver;
  border-radius: 5px;
}

//        DASH
// -----------

#clock {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  text-align: right;
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  font-size: 93.2px;
}
#admin-title {
  z-index: 10;
  font-family: 'Exo', sans-serif;
  font-size: 40px;
  padding: 0;
  margin: 0;
}
#admin-greeting {
  font-family: 'Exo', sans-serif;
  font-size: 20px;
}

div.admin-dash {
  background-position: top;
  background-size: contain;
  min-height: 100vh;
  // position: absolute;
  z-index: 10;
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 40%);
  height: 100%;
  padding: 20px;
  width: 100vw;
}

.admin-top {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 240px;
  margin: 0 auto;
  padding-top: 22px;
}

div.admin-fade {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100%;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

div#admin-wrap {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  overflow: hidden;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer#admin-footer {
  a {
    color: white;
    text-decoration: underline;
  }
  font-weight: lighter;
  font-size: 12px;
  text-align: right;
  bottom: 0;
  right: 20px;
  height: 30px;
  color: white;
  background-color: rgba(0,0,0,0);
}
div.admin-nav {
  position: fixed;
  padding-top: 32px;
  z-index: 11;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 74px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 20px;
      width: 64px;
      height: 64px;
      img {
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
      }
      img#logout {
        transform: translateX(4px);
      }
    }
    
  }
  
}



.table {
  display: none;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 24px;
  // visibility: hidden;
}

thead {
  background-color: rgba(0,0,0,0.1);
}
tbody{
  background-color: rgba(0, 0, 0, 0.3);
  a {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
  }
}

th {
  width: 300px;
}
th#msg {
  width: 60vw;

}
td#msg {
  align-items: middle;
  display: block;
  max-block-size: 30px;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
th:nth-child(1){
  width: 50px;
}
td {
  text-align: center;
}

img.profile-icon {
  max-width: 50px;
  max-height: 50px;
}

div.msg-body {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 12px;
  border-radius: 2px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 24px;
}


//         EDIT FORM
// -----------------

a#admin-new-client {
  margin-bottom: 20px;
}

img.admin-story-edit {
  max-width: 300px;
  max-height: 300px;
  border: 2px solid $bright;
  border-radius: 2px;
  margin: 2px;
}
button#upload {
  display:inline-block;
  min-width: 50px;
  width: 80px;
  padding:5px 10px;
}
input#upload {
  display: inline-block;
  max-width: 300px;
}
label {
  display: block;
  width: 90px;
}
textarea {
  resize: none;
  width: 300px;
  height: 180px;
  overflow: scroll;
}
.input-area {
  width: 380px;
  margin: 10px;
  padding: 10px;
  border: 0.5px white solid;
  border-radius: 4px;
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}