.pthub {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background: rgb(136,45,255);
  background: -moz-linear-gradient(90deg, rgba(136,45,255,1) 0%, rgba(0,211,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(136,45,255,1) 0%, rgba(0,211,255,1) 100%);
  background: linear-gradient(90deg, rgba(136,45,255,1) 0%, rgba(0,211,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#882dff",endColorstr="#00d3ff",GradientType=1);
  color: white;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 1000px;
  height: 400px;
  padding: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.pricing {
  h2, p, button {
    z-index: 3;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
    img:first-of-type {
      filter: invert(1);
      position: absolute;
      max-width: 50%;
    }
    img {
      size: cover;
      background-position: center;
      width: 100vw;
      max-height: 100vh;
      overflow: hidden;
    }
    @media only screen and (max-width: 950px) {
      align-items: center;
      margin-bottom: 40px;
      p {
        font-size: small;
      }
      h3,h2 {
        font-size: large;
        text-align: center;
      }
    }
}

.col4 {
  margin-bottom: 40px;
  max-width: 1000px;
  min-width: 600px;
  width: 80vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 950px) {
    width: 20vw;
    min-width: 250px;
    flex-wrap: wrap;
    div {
      width: 20%;
      min-width: 50px;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 120px;
    padding: 4px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    
    ul {
      width: 80%;
      flex-direction: column;
      justify-content: left;
      padding: 4px;
      text-align: left;
      li {
        list-style: none;
        text-align: left;

      }
    }
  }
}
.col3 {
  margin-bottom: 40px;
  flex-wrap: wrap;
  max-width: 1000px;
  min-width: 600px;
  width: 80vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 950px) {
    width: 25vw;
    min-width: 400px;
    div {
      width: 20%;
      min-width: 50px;
    }
  }
  div:last-child{
    min-width: 100%;
    // border: 1px solid red;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    min-width: 25%;
    padding: 4px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    
    ul {
      width: 80%;
      flex-direction: column;
      justify-content: left;
      padding: 4px;
      text-align: left;
      li {
        list-style: none;
        text-align: left;

      }
    }
  }
}
.col1 {
  min-width: 600px;
  max-width: 1000px;
  width: 80vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 950px) {
    width: 20vw;
    min-width: 250px;
    flex-wrap: wrap;
    div {
      width: 20%;
      min-width: 50px;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 220px;
    padding: 4px;
    background-color: white;
    border: 1px solid white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
    ul {
      width: 80%;
      flex-direction: column;
      padding: 4px;
      li {
        list-style: none;
        text-align: center;
      }
    }
  }
}