// LANDING PAGE CONTACT FORM
// ----------------------------

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  flex-wrap: wrap;
  margin: 0 auto;

  input, textarea {
    border: 1px solid silver;
    border-radius: 3px;
    width: 600px;
    height: 35px;
  }
  textarea {
    height: 70px;
  }
  div {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: auto;
  }
  span > input {
    margin-right: -4px;
    width: 47%;
    display: flex;
    justify-content: space-between;
  }
  span {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 35px;
  }
  button {
    width: 600px;
  }
}
