.hero-video {
  .hero {
    max-width: inherit;
  }
  .video {
    height: 100vh; 
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 9;
    margin: 0 auto;
  }
}
#hero-logo {
  @media only screen and (max-width: 900px) {
    
      max-width: 70%;
      max-height: 70%;
    
  }
}
