.hero-video {
  .hero {
    max-width: inherit;
  }
  .video {
    height: 100vh;    
  }
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 9;
    margin: 0 auto;
    img {
      filter: invert(2);
    }
  }
}
#hero-logo {
  @media only screen and (max-width: 900px) {
    
      max-width: 70%;
      max-height: 70%;
    
  }
}
