
.feature-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: left;
  width: 280px;
  height: fit-content;

}

.feature-card {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  position: relative;
  // border: 1px solid red;
  min-width: 275px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 12px;
  padding: 14px;
}
.feature-card-img {
  border-radius: 50px;
  position: relative;
  width: 100px;
  height: 100px;
  @media only screen and (max-width: 950px) {
    border: 1px solid lightgrey;
  }
}


.left-q {
  z-index: 3;
  background-color: gold;
  line-height: 1.2em;
  position: relative;
  left: 20px;
  top: 40px;
  block-size: 50px;
  margin: 0;
  color: white;
  font-size: 100px;
  align-self: flex-start;
  @media only screen and (max-width: 950px) {
    color: white;
    background-color: gold;
    line-height: .9em;
    position: absolute;
    block-size: 40px;
    max-height: 40px;
    top: 0px;
    left: 10px;
    z-index: 9;
  }

}
.right-q {
  z-index: 12;
  background-color: gold;
  line-height: 1em;
  position: absolute;
  transform: scaleY(-1);
  block-size: 40px;
  margin: 0;
  color: white;
  font-size: 100px;
  align-self: flex-end;
}

.feature-p {
  padding-top: 20px;
  padding-right: 0px!important;
}
.check {
  max-width: 30px;
}

