#feature {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  min-height: 500px;
  width: 100vw;
}
.feature-card {
  border: 1px solid blue;
  width: 60vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  margin: auto;
}

.left-q {
  border: 1px solid pink;
  block-size: 50px;
  margin: 0;
  color: silver;
  font-size: 100px;
  align-self: flex-start;

}
.right-q {
  border: 1px solid pink;
  block-size: 50px;
  margin: 0;
  color: silver;
  font-size: 100px;
  align-self: flex-end;
}
.feature-wrap {
  border: 1px solid blue;
  text-align: left;
  padding: 80px;
  height: fit-content;
}
.feature-review {
  color: hsl(0, 0%, 30%);
}
.feature-client {
  color: hsl(0, 0%, 30%);
  text-align: right;
}
.check {
  max-width: 30px;
}
