.gridbox {
  // border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% auto;
  width: 80%;
  max-width: 830px;
  height: fit-content;
  flex-wrap: wrap;
}

.gridcell {
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 275px !important;
  min-height: 280px;
  margin: 12px;
  list-style: none;
  ul {
    padding: 0;
    li {
      text-align: left;
      list-style: none;
    }
  }
}

.grid-icon {
  margin-top: 4px;
  max-width: 70px;
}
.service-heading {
  height: 45px;
}


.gridtop {
  height: fit-content;
  padding: 4px;
  width: 100%;
  border: 2px solid gold;
  background: gold;
}
.gridbot {
  height: 100%;
  width: inherit;
  padding: 12px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid white;
  background: white;
}

