//  GLOBAL
section {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 300px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

//      IMAGE DIVIDERS 
//--------------------


#about {
  background-color: black;
  background-image: url('/assets/rhyse.jpg') !important;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100vw;
  height: 60vh;
  color: white;
}

#break {
  margin-top: 30vh;
  background-image: url('/../assets/AdobeStock_110683871_Preview.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 80vh;
  z-index: 0;  
}

//             STICKER
//--------------------
div.sticker {
  z-index: 9999;
  position: fixed;
  bottom: 0px;
  right: 4%;
  background-color: #ffd912;
  color: black;
  font-weight: 800;
  font-size: larger;
  text-align: center;
  padding-top: 10px;
  max-width: 140px;
  min-width: 140px;
  max-height: 30px;
  min-height: 30px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transition: 0.3s ease-out;
}
div.sticker:hover{
  min-height: 54px;
  max-height: 54px;
}

// WRAPPERS CONTAINERS
//--------------------
.hero-wrapper {
  max-width: 100vw;
  overflow: hidden;
}
.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  width: 106vw;
  height: 105vh;
  z-index: 2;
  transition: ease-in-out;
  transition-duration: 2s;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.0);
  width: 106vw;
  min-height: 105vh;
  z-index: 2;
  transition: ease-in-out;
  transition-duration: 1s;
}

.hero-logo {
  transform: translateX(-3.336vw) translateY(-2.8vh);
  width: 70%;
  height: 70%;
  margin: auto;
  filter: invert(1);
  // border: 1px solid red;
}

.lefty {
  display: flex;
  padding-left: 4%;
  display: flex;
  min-width: 46%;
  flex-wrap: wrap;
}

.right {
  height: fit-content;
  width: 350px;
  position: absolute;
  right: 12.5%;
}

h2.hero {
  font-size: 79px;
  color: white;
}

.flex-container {  
  display: flex;
  flex-direction: column;
  height: inherit;
  min-width: 620px;
}

// SERVICES
.gridbox {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 50%;
  height: fit-content;
  max-width: 800px;
  flex-wrap: wrap;
}

.gridcell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 275px;
  min-height: 320px;
  margin: 0 auto;
  list-style: none;
}

.grid-icon {
  margin-top: 4px;
  max-width: 70px;
}
.service-heading {
  height: 30px;
}

//FEATURED TESTIMONIALS
section#feature {
  width: 100vw;
  height: 60vh;
  position: absolute;
  z-index:1;
  background-color: whitesmoke;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.feature-card {
  width: 50vw;
  max-height: 100px;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.left-q {
  text-align: left;
  color: silver;
  font-size: 44px;
}
.right-q {
  text-align: right;
  color: silver;
  font-size: 44px;
}
.feature-wrap {
  margin: auto;
  height: fit-content;
  // border: 1px solid blue;
}
.feature-review {
  color: grey;
}
.feature-client {
  color: grey;
  text-align: right;
}
