@import './admin.scss';
@import './landing.scss';
@import './contact_form.scss';
@import './navbar.scss';
@import './success.scss';
@import './hero-video.scss';
@import './landing-usp.scss';
@import './landing-featured.scss';
@import './booking.scss';

@import url('https://fonts.googleapis.com/css?family=Exo:200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;600;700&display=swap');
  //font-family: 'Exo', sans-serif; size: 300,400,600,700

main {
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.01em ;
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: rgb(245, 245, 245);
}

html {
  scroll-behavior: smooth;
}

button {
  color: black;
  min-width: 190px;
  height: 40px;
  background-color: white;
  border-radius: 4px;
  margin: 4px !important;
}
.on-top {
  position: relative;
  z-index: 99;  
}
.stealth {
  visibility: hidden;
}

h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 600;
  font-size: 32px;
}
h3 {
  font-family: 'Exo', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
p {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
p.p14 {
  font-size: 14px; 
  padding-right: 14px;
 }
p.p12 {
  font-size: 12px
}

//privacy policy
.policy-pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}
.pdf-controls {
  margin: 5px;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  top: 0px;
}
canvas {
  position: relative;
  margin: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}