@import './admin.scss';
@import './landing.scss';
@import './contact_form.scss';
@import './navbar.scss';
@import './success.scss';

* {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.01em ;
}

body {
  background-color: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

button {
  min-width: 200px;
  height: 40px;
  background-color: white;
  border-radius: 4px;
}

footer {
  background-color: black;
  color: white;
  height: 200px;
  width: 100vw;
  margin-top: 80px;
  overflow: hidden;
  text-align: center;
}

.on-top {
  position: relative;
  z-index: 99;  
}
