//                  TOP NAV
// ------------------------

$bright: #ffd912;

nav.top-nav {
  position: absolute;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-evenly;
  min-height: 7vh;
  min-width: 100vw;
  // background-color: #ffd912;
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 80%);
  a {
    text-align: center;
    height: 100%;
    width: 25%;
    margin: auto;
    color: white;
    text-decoration: none;
  }
}

img.top-logo {
  max-height: 70px;
  max-width: 200px;
}

nav.fill-nav {
  top:0px;
  transition: linear 0.4s;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #202020;
  min-height: 40px;
  min-width: 100vw;
  margin: auto;
  background-color: #ffd912;
}
nav.fill-nav > a {
  height: 50%;
  margin: auto;
  color: black;
  text-decoration: none;
  a {
    color: black !important;
  }
}
nav.no-nav {
  top:-100px;
  transition: linear 0.4s;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  min-height: 40px;
  min-width: 100vw;
  margin: auto;
  background-color: #E0AF05;
}
a {
  text-decoration: none;
  color: black;
}