html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
template {
  display: none;
}
[hidden] {
  display: none;
} 
/* ======== END OF NORMALIZE ======== */

* {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.01em ;
}

html {
  scroll-behavior: smooth;
  transition: 20ms;
}
h1 {
  font-size: larger;
}
nav {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
  position: fixed;
  top: 0px;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  min-height: 40px;
  min-width: 100vw;
  margin: auto;
}
nav > a {
  height: 50%;
  margin: auto;
  color: white;
  text-decoration: none;
}
.fill-nav{
  background-color: rgb(218, 165, 32);
  a {
    color: black !important;
  }
  a:last-of-type {
    border-left: 2px solid black;
   }
}

a:last-of-type {
  text-align: center;
  min-width: 180px;
  border-left: 2px solid white;
 }

section {
  min-height: 40vh;
  min-width: 100vw;
  border: 1px solid blue;
  margin: auto;
}
img.sect {
  width: 100vw;
  height: 580px;
}
footer {
  background-color: black;
  color: white;
  min-height: 300px;
  padding: 20px;
}


// GENERAL WRAPS AND CONTAINERS

.hero {
  display: flex;
  min-height: 60vh;
  min-width: 100vw;
  border: 1px solid red;
  background-color: black;
  color: gold;
  align-items: center;
}
.middle-center {
  position: relative;
  // height: fit-content;
  min-width: fit-content;
  // margin: auto;
  border: 1px solid greenyellow;
}
.flex-wrap {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.flex-container {  
  transition: ease-out 0.2s;
  transition-delay: 0.2s;
  display: flex;
  flex-direction: row;
  height: inherit;
  min-height: 220px;
  min-width: 420px;
  border:1px solid blue;
}

// SPACERS
.s16 {
  padding: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 16px;
}

// TEXT
.central {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 50px auto;
}

// FORMS
input, textarea {
  border: 1px solid grey;
}
.form-area {
  display: flex;
  flex-wrap: wrap;
  align-items: unset;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 600px;
  // border: 1px solid rgba(0, 0, 0, 0.09);
  margin: 10px;
  min-height: 35px
}

.form-item {
  margin: 4px;
  max-width: 500px;
  min-height: 35px;
}
.name-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 35px
}
.name-field {
  margin: 10px;
  min-width: 300px;
  min-height: 35px
}
div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
