
$bright: #ffd912;
* {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.01em ;
}
body {
  background-color: whitesmoke;
}
p, h3 {
  text-align: center;
  min-width: 50%;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: larger;
}
button {
  min-width: 200px;
  height: 40px;
  background-color: white;
  border-radius: 4px;
}

.gridbox {
  display: flex;
  flex-direction: row;
  max-width: 70vw;
  min-width: 680px;
  flex-wrap: wrap;
  justify-content: center;
  // border: 1px dashed red;
}

.gridcell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  min-width: 120px;
  min-height: 120px;
  margin: 20px;
  // border: 1px dashed red;
  list-style: none;
  text-align: center;
}

.grid-icon {
  margin-top: 4px;
  max-width: 70px;
}

section {
  min-height: 60vh;
  min-width: 100vw;
  // border: 1px dashed blue;
}
#s1{
  background-image: url('/assets/AdobeStock_81397101_Preview.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 60vh;
  color: white;
}


footer {
  background-color: black;
  color: white;
  min-height: 300px;
  padding: 20px;
  max-width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}

//             NAV BAR
//--------------------
nav.top-nav {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-evenly;
  min-height: 7vh;
  min-width: 100vw;
  background-color: #ffd912;
}
nav.top-nav > a {
  text-align: center;
  height: 100%;
  width: 200px;
  margin: auto;
  color: black;
  text-decoration: none;
}
img.top-logo {
  max-height: 70px;
  max-width: 200px;
}

nav.fill-nav {
  top:0px;
  transition: linear 0.4s;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #202020;
  min-height: 40px;
  min-width: 100vw;
  margin: auto;
  background-color: #ffd912;
}
nav.fill-nav > a {
  height: 50%;
  margin: auto;
  color: black;
  text-decoration: none;
  a {
    color: black !important;
  }
}
nav.no-nav {
  top:-100px;
  transition: linear 0.4s;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  min-height: 40px;
  min-width: 100vw;
  margin: auto;
  background-color: #E0AF05;
}
a {
  text-decoration: none;
  color: black;
}

//      IMAGE DIVIDERS 
//--------------------

#a, #b, #c {
  margin: 0px;
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

#a {
  background-image: url('/assets/AdobeStock_110683871_Preview.jpeg');
}

#b {
  background-image: url('/assets/AdobeStock_165304674_Preview.jpeg');
}

#c {
  background-image: url('/assets/AdobeStock_174210783_Preview.jpeg');
}


// WRAPPERS CONTAINERS
//--------------------

.hero {
  justify-content: flex-start;
  display: flex;
  min-height: 93vh;
  max-height: 93vh;
  min-width: 100vw;
  // border: 1px solid red;
  background-color: #202020;
  color: gold;
  align-items: flex-start;
  overflow: hidden;
}

.lefty {
  display: flex;
  padding-left: 4%;
  display: flex;
  min-width: 46%;
  flex-wrap: wrap;
}

.right {
  display: flex;
  flex-direction:column;
  align-items: center;
  height: 100vh;
  max-width: 30%;
  position: absolute;
  right: 4%;
}

h2.hero {
  font-size: 79px;
  color: white;
}
.middle-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  // border: 1px dashed blue;
}
.flex-wrap {
  display: flex;
  flex-direction: column;
}
.flex-container {  
  display: flex;
  flex-direction: column;
  height: inherit;
  min-width: 620px;
}

//             STICKER
//--------------------
div.sticker {
  z-index: 9999;
  position: fixed;
  bottom: 0px;
  right: 4%;
  background-color: #ffd912;
  color: black;
  font-weight: 800;
  font-size: larger;
  text-align: center;
  padding-top: 10px;
  max-width: 140px;
  min-width: 140px;
  max-height: 30px;
  min-height: 30px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transition: 0.3s ease-out;
}
div.sticker:hover{
  min-height: 54px;
  max-height: 54px;
}

//             SPACERS
//--------------------
.s16 {
  padding: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 16px;
  margin: auto;
}

//                TEXT
//--------------------
.central {
  text-align: center;
  width: 100%;
  height: 100%;
  // margin: 50px 0px, 0px 0px;
}

//               FORMS
//--------------------
input, textarea {
  border: 1px solid grey;
}
.form-area {
  display: flex;
  flex-wrap: wrap;
  align-items: unset;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 600px;
  // border: 1px solid rgba(0, 0, 0, 0.09);
  margin: 10px;
  min-height: 35px
}

.form-item {
  margin: 4px;
  max-width: 500px;
  min-height: 35px;
}
.name-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 35px
}
.name-field {
  margin: 10px;
  min-width: 300px;
  min-height: 35px
}
div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

//       SUCCESS
// -------------

img.story-profile {
  max-width: 200px;
  max-height: 200px;
}
.story-card {
  min-width: 100vw;
  min-height: 60vh;
  color: white;
}
.gradient {
  min-width: 100vw;
  min-height: 60vh;
  position: absolute;
  z-index: 2;
  // background: linear-gradient(0deg, rgba(32,32,32,0) 50%, rgba(32,32,32,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(32,32,32,0.8) 100%);

}
.on-top {
  position: relative;
  z-index: 99;
  
}
// ################
// ---------- ADMIN
// ################

//        GLOBAL
// -------------
.pad20 {
  padding: 20px;
}

div > a, td > a {
  display: inline-block;
  background-color: white;
  padding: 10px;
  border: 2px solid ;
  border-radius: 4px;
  margin: 2px;
}

div.half-width{
  max-width: 50vw;
  margin: 0px;
}
div.image-upload{
  display: flex;
}

div.two-up{
  display: flex;
  max-width: 95vw;
  justify-content: space-evenly;
  margin: auto;
}
div.col-left{
  margin-left: 4%;
  display: flex;
  max-width: 40vw;
  // border: 1px dashed red;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}
div.col-right{
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  // border: 1px dashed blue;
  margin-bottom: 50px;
}

//        DASH
// -----------

table {
  padding-top: 20px;
}

thead {
  background-color: rgba(0,0,0,0.1);
}

th {
  width: 300px;
}
th:nth-child(1){
  width: 50px;
}
td {
  text-align: center;
}

img.profile-icon {
  max-width: 50px;
  max-height: 50px;
}

//         EDIT FORM
// -----------------

img.admin-story-edit{
  max-width: 300px;
  max-height: 300px;
  border: 2px solid $bright;
  border-radius: 2px;
  margin: 2px;
}
button#upload {
  display:inline-block;
  min-width: 50px;
  width: 80px;
  padding:5px 10px;
}
input#upload {
  display: inline-block;
  max-width: 300px;
}
label {
  display: block;
  width: 90px;
}
textarea {
  resize: none;
  width: 300px;
  height: 180px;
  overflow: scroll;
}
.input-area {
  width: 380px;
  margin: 10px;
  padding: 10px;
  border: 0.5px white solid;
  border-radius: 4px;
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}