html {
  scroll-behavior: smooth;
  transition: 20ms;
}
h1 {
  font-size: larger;
}
nav {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
  position: fixed;
  top: 0px;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  min-height: 40px;
  min-width: 100vw;
  margin: auto;
}
nav > a {
  height: 50%;
  margin: auto;
  color: white;
  text-decoration: none;
}
.fill-nav{
  background-color: goldenrod;
  a {
    color: black !important;
  }
  a:last-of-type {
    border-left: 2px solid black;
   }
}

a:last-of-type {
  text-align: center;
  min-width: 180px;
  border-left: 2px solid white;
 }

section {
  min-height: 40vh;
  min-width: 100vw;
  border: 1px solid blue;
  margin: auto;
}
img.sect {
  width: 100vw;
  height: 580px;
}
footer {
  background-color: black;
  color: white;
  min-height: 300px;
  padding: 20px;
}
// GENERAL WRAPS AND CONTAINERS
.hero {
  display: flex;
  min-height: 60vh;
  min-width: 100vw;
  border: 1px solid red;
  background-color: black;
  color: gold;
  align-items: center;
}
.middle-center {
  position: relative;
  // height: fit-content;
  min-width: fit-content;
  // margin: auto;
  border: 1px solid greenyellow;
}
.flex-wrap {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.flex-container {  
  transition: ease-out 0.2s;
  transition-delay: 0.2s;
  display: flex;
  flex-direction: row;
  height: inherit;
  min-height: 220px;
  min-width: 420px;
  border:1px solid blue;
}

// SPACERS
.s16 {
  padding: 16px;
  margin: 16px;
}

// TEXT
.central {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 50px auto;
}